# Cài đặt Geopandas

In [1]:
pip install geopandas

Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 6.6 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 58.6 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 39 kB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.2.1

# Git clone

In [2]:
!git clone https://github.com/CityScope/CSL_HCMC

Cloning into 'CSL_HCMC'...
remote: Enumerating objects: 1930, done.
remote: Counting objects: 100% (590/590), done.
remote: Compressing objects: 100% (314/314), done.
remote: Total 1930 (delta 309), reused 500 (delta 270), pack-reused 1340
Receiving objects: 100% (1930/1930), 178.53 MiB | 24.87 MiB/s, done.
Resolving deltas: 100% (986/986), done.
Checking out files: 100% (542/542), done.

# Đọc file

In [3]:
import geopandas as gpd
population_df = gpd.read_file('/content/CSL_HCMC/Data/GIS/Population/population_HCMC/population_shapefile/Population_Ward_Level.shp')

# Khám phá dữ liệu

In [14]:
print(type(population_df))
population_df

<class 'geopandas.geodataframe.GeoDataFrame'>

             Com_Name  ...                                           geometry
0            Tan Dinh  ...  POLYGON ((684350.511 1193546.266, 684363.810 1...
1            Ben Nghe  ...  POLYGON ((686564.657 1193462.473, 686588.924 1...
2        Cau Ong Lanh  ...  POLYGON ((685922.373 1190479.807, 685914.160 1...
3    Nguyen Thai Binh  ...  POLYGON ((685966.333 1190513.667, 685944.353 1...
4            Co Giang  ...  POLYGON ((685514.573 1190211.431, 685547.521 1...
..                ...  ...                                                ...
317    Tan Hung Thuan  ...  POLYGON ((677816.513 1197206.772, 677796.932 1...
318           Ward 17  ...  POLYGON ((683516.949 1200006.226, 683509.721 1...
319            Ward 8  ...  POLYGON ((680928.492 1199066.285, 680984.889 1...
320            Ward 9  ...  POLYGON ((681120.443 1199640.183, 681120.846 1...
321           Ward 12  ...  POLYGON ((679970.916 1198480.707, 679932.874 1...

[322 rows x 12 columns]

# Phường nào có diện tích lớn nhất là Lý Nhơn, huyện Cần Giờ

In [21]:
population_df[population_df['Shape_Area'] == population_df['Shape_Area'].max()]

    Com_Name  ...                                           geometry
204  Ly Nhon  ...  POLYGON ((703990.602 1160907.838, 704139.338 1...

[1 rows x 12 columns]

# Phường có dân số 2019 (Pop_2019) cao nhất là Vĩnh Lộc A, huyện Bình Chánh

In [17]:
population_df[population_df['Pop_2019'] == population_df["Pop_2019"].max()]

       Com_Name  ...                                           geometry
168  Vinh Loc A  ...  POLYGON ((669872.381 1199077.678, 669922.073 1...

[1 rows x 12 columns]

# Phường nào có diện tích nhỏ nhất là phường 3 quận 10

In [22]:
population_df[population_df['Shape_Area'] == population_df['Shape_Area'].min()]

   Com_Name  ...                                           geometry
71   Ward 3  ...  POLYGON ((682485.431 1189922.970, 682510.266 1...

[1 rows x 12 columns]

# Phường có dân số 2019 (Pop_2019) nhỏ nhất là phường An Khánh, quận 2

In [23]:
population_df[population_df['Pop_2019'] == population_df["Pop_2019"].min()]

     Com_Name  ...                                           geometry
218  An Khanh  ...  POLYGON ((688894.225 1192163.773, 688895.628 1...

[1 rows x 12 columns]

# Phường có tốc độ tăng trưởng dân số cao nhất là Phú Hữu quận 9

In [19]:
population_df[(population_df['Den_2019']/population_df['Den_2009']) == (population_df['Den_2019']/population_df['Den_2009']).max()]

    Com_Name  ...                                           geometry
211  Phu Huu  ...  POLYGON ((694734.189 1193824.448, 694735.625 1...

[1 rows x 12 columns]

# Phường có tốc độ tăng trưởng dân số thấp nhất là An Khánh, quận 2

In [20]:
population_df[(population_df['Den_2019']/population_df['Den_2009']) == (population_df['Den_2019']/population_df['Den_2009']).min()]

     Com_Name  ...                                           geometry
218  An Khanh  ...  POLYGON ((688894.225 1192163.773, 688895.628 1...

[1 rows x 12 columns]

# Phường có biến động dân số nhanh nhất Vĩnh Lộc A, huyện Bình Chánh

In [25]:
population_df[(population_df['Pop_2019'] - population_df['Pop_2009']) == (population_df['Pop_2019'] - population_df['Pop_2009']).max()]

       Com_Name  ...                                           geometry
168  Vinh Loc A  ...  POLYGON ((669872.381 1199077.678, 669922.073 1...

[1 rows x 12 columns]

# Phường có biến động dân số chậm nhất là An Khánh, quận 2

In [26]:
population_df[(population_df['Pop_2019'] - population_df['Pop_2009']) == (population_df['Pop_2019'] - population_df['Pop_2009']).min()]

     Com_Name  ...                                           geometry
218  An Khanh  ...  POLYGON ((688894.225 1192163.773, 688895.628 1...

[1 rows x 12 columns]

# Phường có mật độ dân số cao nhất (2019) là phường 8, quận 4

In [27]:
population_df[population_df['Den_2019'] == population_df['Den_2019'].max()]

   Com_Name  ...                                           geometry
16   Ward 8  ...  POLYGON ((686132.663 1190298.153, 686136.360 1...

[1 rows x 12 columns]

# Phường có mật độ dân số thấp nhất (2019) là Lý Nhơn, huyện Cần Giờ

In [28]:
population_df[population_df['Den_2019'] == population_df['Den_2019'].min()]

    Com_Name  ...                                           geometry
204  Ly Nhon  ...  POLYGON ((703990.602 1160907.838, 704139.338 1...

[1 rows x 12 columns]