

*   Họ Tên: Huỳnh Thiện Tùng
*   MSSV: 19522492
*   Bài tập 7

# Import thư viện

In [21]:
import csv
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [2]:
!gdown --id 103fJaCeNyzsfEojFBskoBrZy3Jman1bB

Downloading...
From: https://drive.google.com/uc?id=103fJaCeNyzsfEojFBskoBrZy3Jman1bB
To: /content/Social_Network_Ads.csv
100% 4.91k/4.91k [00:00<00:00, 7.89MB/s]

# Đọc và khám phá dữ liệu

In [3]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head(10)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0
5   27            58000          0
6   27            84000          0
7   32           150000          1
8   25            33000          0
9   35            65000          0

In [8]:
X = df.loc[:, ["Age", "EstimatedSalary"]].values
y = df.loc[:, "Purchased"].values

In [9]:
print(X.shape)
print(y.shape)

(400, 2)
(400,)

# Dùng KFold để đánh giá model

In [11]:
k = 5
kf = KFold(n_splits=k, random_state=None)

In [12]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Logistic Regression Model

In [22]:
from sklearn.linear_model import LogisticRegression 
classifier = LogisticRegression(random_state=0)
acc = cross_val_score(classifier, X_scaled , y, cv = kf)
print("Accuracy: ", acc.mean()*100)

Accuracy:  82.25

# Support Vector Machine Model

In [20]:
from sklearn import svm
classifier = svm.SVC()
acc = cross_val_score(classifier, X_scaled , y, cv = kf)
print("Accuracy: ", acc.mean()*100)

Accuracy:  90.75

# Naive Bayes Classifier Model

In [23]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
acc = cross_val_score(gnb, X_scaled , y, cv = kf)
print("Accuracy: ", acc.mean()*100)

Accuracy:  85.75

# Decision Tree Classifier Model

In [24]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(random_state=0)
acc = cross_val_score(classifier, X_scaled , y, cv = kf)
print("Accuracy: ", acc.mean()*100)

Accuracy:  85.75000000000001

# Random Forest Classifier Model

In [26]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(max_depth=2)
acc = cross_val_score(classifier, X_scaled , y, cv = kf)
print("Accuracy: ", acc.mean()*100)

Accuracy:  90.75