

*   Họ Tên: Huỳnh Thiện Tùng
*   MSSV: 19522492
*   Bài tập 12: bao gồm bài 12.1 và 12.2

# Import thư viện

In [ ]:
import csv
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.ensemble import GradientBoostingClassifier

from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [ ]:
!gdown --id 1wz_BZ1fRM31BGrztRjOZdiyAxB907DUi

Downloading...
From: https://drive.google.com/uc?id=1wz_BZ1fRM31BGrztRjOZdiyAxB907DUi
To: /content/Data.csv
100% 19.6k/19.6k [00:00<00:00, 37.8MB/s]

# Đọc và khám phá dữ liệu

In [ ]:
df = pd.read_csv('Data.csv')
df

     Sample code number  Clump Thickness  ...  Mitoses  Class
0               1000025                5  ...        1      2
1               1002945                5  ...        1      2
2               1015425                3  ...        1      2
3               1016277                6  ...        1      2
4               1017023                4  ...        1      2
..                  ...              ...  ...      ...    ...
678              776715                3  ...        1      2
679              841769                2  ...        1      2
680              888820                5  ...        2      4
681              897471                4  ...        1      4
682              897471                4  ...        1      4

[683 rows x 11 columns]

In [ ]:
dataX = df.iloc[:, 0:-1].values
dataY = df.iloc[:, -1].values

In [ ]:
print(dataX.shape)
print(dataY.shape)

(683, 10)
(683,)

# Train/test spliting

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(dataX, dataY, test_size=0.2)

In [ ]:
print(x_train.shape)
print(x_test.shape)

(546, 10)
(137, 10)

# Data Normalization

In [ ]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)

# BÀI TẬP 1: GBM Model

In [ ]:
model = GradientBoostingClassifier()
cv = KFold(n_splits=5, shuffle=True)
n_scores = cross_val_score(model, x_train, y_train, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
print('Accuracy: %.3f' % (mean(n_scores)))

Accuracy: 0.963

In [ ]:
# model = GradientBoostingClassifier()
# model.fit(x_train, y_train)
# acc = model.score(x_test, y_test)
# print('Accuracy: %.3f' % (acc))

# BÀI TẬP 2: Xgboost

In [ ]:
model = XGBClassifier()
cv = KFold(n_splits=5, shuffle=True)
n_scores = cross_val_score(model, x_train, y_train, scoring='accuracy', cv=cv)
print('Accuracy: %.3f' % (mean(n_scores)))

Accuracy: 0.965

In [ ]:
# model = XGBClassifier()
# model.fit(x_train, y_train)
# acc = model.score(x_test, y_test)
# print('Accuracy: %.3f' % (acc))