

*   Họ Tên: Huỳnh Thiện Tùng
*   MSSV: 19522492
*   Bài tập 6

# Import thư viện

In [ ]:
import csv
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [38]:
!gdown --id 1O8eUTick7KbfaYH3f6yimDy4a_zCsy4p

Downloading...
From: https://drive.google.com/uc?id=1O8eUTick7KbfaYH3f6yimDy4a_zCsy4p
To: /content/Wine.csv
100% 11.5k/11.5k [00:00<00:00, 23.6MB/s]

# Đọc và khám phá dữ liệu

In [ ]:
df = pd.read_csv('Wine.csv')
df.head(10)

   Alcohol  Malic_Acid   Ash  ...  OD280  Proline  Customer_Segment
0    14.23        1.71  2.43  ...   3.92     1065                 1
1    13.20        1.78  2.14  ...   3.40     1050                 1
2    13.16        2.36  2.67  ...   3.17     1185                 1
3    14.37        1.95  2.50  ...   3.45     1480                 1
4    13.24        2.59  2.87  ...   2.93      735                 1
5    14.20        1.76  2.45  ...   2.85     1450                 1
6    14.39        1.87  2.45  ...   3.58     1290                 1
7    14.06        2.15  2.61  ...   3.58     1295                 1
8    14.83        1.64  2.17  ...   2.85     1045                 1
9    13.86        1.35  2.27  ...   3.55     1045                 1

[10 rows x 14 columns]

In [ ]:
X = df.loc[:, "Alcohol":"Proline"]
y = df.loc[:, "Customer_Segment"]

# Chia tập train/test tỉ lệ 8/2

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Chuẩn hóa dữ liệu dùng StandardScaler

In [ ]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)

In [ ]:
X_train

     Alcohol  Malic_Acid   Ash  ...   Hue  OD280  Proline
161    13.69        3.26  2.54  ...  0.96   1.82      680
92     12.69        1.53  2.26  ...  0.96   2.06      495
94     11.62        1.99  2.28  ...  1.16   2.96      345
174    13.40        3.91  2.48  ...  0.70   1.56      750
24     13.50        1.81  2.61  ...  1.12   3.82      845
..       ...         ...   ...  ...   ...    ...      ...
103    11.82        1.72  1.88  ...  0.94   2.44      415
67     12.37        1.17  1.92  ...  1.12   3.48      510
117    12.42        1.61  2.19  ...  1.06   2.96      345
47     13.90        1.68  2.12  ...  0.91   3.33      985
172    14.16        2.51  2.48  ...  0.62   1.71      660

[142 rows x 13 columns]

In [ ]:
print(X.shape)
print(y.shape)

(178, 13)
(178,)

# Sử dụng PCA giảm chiều dữ liệu

In [ ]:
pca = PCA(n_components = 2)
X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)

In [ ]:
print(X_train.shape)
print(y_train.shape)

(142, 2)
(142,)

# Logistic Regression

In [ ]:
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# Đánh giá model theo cách bình thường

In [ ]:
y_test.values

array([1, 3, 2, 1, 2, 2, 1, 3, 2, 2, 3, 3, 1, 2, 3, 2, 1, 1, 2, 1, 2, 1,
       1, 2, 2, 2, 2, 2, 2, 3, 1, 1, 2, 1, 1, 1])

In [ ]:
y_predict = classifier.predict(X_test)
y_predict

array([1, 2, 2, 1, 2, 2, 1, 2, 2, 2, 3, 2, 1, 3, 3, 2, 1, 1, 2, 1, 2, 1,
       3, 3, 3, 2, 2, 2, 2, 2, 1, 1, 2, 1, 1, 1])

In [ ]:
acc = classifier.score(X_test, y_test)
print("Accuracy: ", acc * 100)

Accuracy:  77.77777777777779

# Dùng KFold để đánh giá model

In [ ]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
pca = PCA(n_components = 2)
X_scaled = pca.fit_transform(X_scaled)

In [ ]:
k = 5
kf = KFold(n_splits=k, random_state=None)
classifier = LogisticRegression(random_state=0)
acc = cross_val_score(classifier, X_scaled , y, cv = kf)
print("Accuracy: ", acc.mean()*100)

Accuracy:  93.84126984126982